@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --text-primary: #fff;
    --text-secondary: #a8a8a8;
    --title-color: #33BB48;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

header {
    text-align: center;
    padding: 3rem;
}

header span {
    color: var(--title-color);
}

header h1 {
    margin-bottom: 3rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-primary);
    transition: color 0.3s ease;
    font-size: 1.15rem;
}

header nav ul li a:hover {
    color: var(--title-color);
}

main {
    text-align: center;
    margin-bottom: 10rem;
}

main section {
    text-align: center;
    margin-bottom: 12rem !important;
    padding: 1.5rem;
}

main section h2 {
    margin-bottom: 3rem;
}

.Hero {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem !important;
}

.Hero img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 255, 98, 0.322);
}

.hero-image-container {
    position: relative;
    text-align: center;
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero-text p {
    font-size: 1rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.Hero p span {
    color: var(--title-color);
    font-weight: bold;
}

.code-languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}
.code-languages .item-title h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.code-languages .language-list {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.code-languages .language-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-align: center;
    filter: brightness(0.5);
    transition: all 0.3s ease;
    cursor: pointer;
}

.code-languages .language-item:hover {
    filter: brightness(1);
    transform: scale(1.1);
}

.code-languages .language-item img {
    width: 100px;
    height: 100px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem !important;
}

.about h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.about h3 {
    color: var(--title-color);
}

.about p {
    margin-bottom: 1.75rem;
}

.about .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.about .left-content {
    flex: 1;
    text-align: left;
}

.about .right-content {
    flex: 2;
    text-align: left;
}

.about .left-content img {
    border-radius: 10px;
    width: 600px;
    height: 900px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.projects {
    text-align: center;
    padding: 4rem 2rem;
}

.projects h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.github-anchor {
    background-image: url(../images/pexels-markusspiske-1089438\ 1.png);
    background-size: cover;
    background-position: center;
    max-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 255, 98, 0.322);
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 auto 5rem;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.github-anchor a {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.github-anchor:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}

.github-anchor img {
    width: 40px;
    height: 40px;
}

.actual-projects-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.project-item {
    flex: 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 255, 98, 0.322);
    overflow: hidden;
    height: auto;
    padding: 0.5rem;
}

.project-item img {
    width: 100%;
    height: 250px;
    object-position: center;
    margin-bottom: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.project-item a:hover {
    color: var(--title-color);
    transform: scale(1.1);
}

.project-item p {
    padding: 0.5rem 1rem 1rem;
}

.description {
    color: var(--text-secondary);
    padding: 0.5rem 1rem 1rem;
}

footer {
    text-align: center;
    padding: 3rem;
}

@media (max-width: 768px) {
    
}
